
#navbar {
    background-color: rgba(189, 128, 247, 0.849);
    color: rgb(255, 254, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.block {
    display: block;
    background-color: rgba(189, 128, 247, 0.849);
    color: rgb(255, 254, 255);
    padding: 10px;
    margin: 20px 0;
}

.inline {
    display: inline;
    background-color: rgba(189, 128, 247, 0.849);
    color: rgb(255, 254, 255);
    padding: 20px;
    margin: 30px;
}

.inline-block {
    display: inline-block;
    background-color: rgba(189, 128, 247, 0.849);
    color: rgb(255, 254, 255);
    padding: 20px;
    margin: 30px;
}

.flex {
    display: flex;
    background-color: rgba(189, 128, 247, 0.849);
    color: rgb(255, 254, 255);
    padding: 20px;
    margin: 30px;
}